/* General Styiling */

body {
    width: 100%;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

main {
    background-image: url('./brooke-lark-M4E7X3z80PQ-unsplash.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    filter: grayscale(40%);
}

h4 {
    font-size: 2rem;
    color: #b01ee7;
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
    margin-top: 1rem;
}

/* Header and Search */

.search-bar {

    display: flex;
    align-items: flex-start;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.search-bar input {
    flex: 1;
    height: 2rem;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 0 0 30px 30px;
    margin-right: 7px;
    padding: 5px;
}

.main-title {
    font-size: 7rem;
    color: #FFF;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-decoration: underline;
    margin: 20px;
}

/* Categories */

.categories {
    display: flex;
    background: #FDA5A5;
    list-style: none;
    align-content: center;
    overflow: auto;
    margin: 0;
}

.categories li {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.categories img {
    background: #FFF;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.5);
    transition: 200ms;
}

.categories img:hover {
    transform: rotate(25deg);
    transition: 200ms;
}

.categories img:active {
    transform: scale(80%) rotate(25deg);

}

/* Recipe */

.recipes {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
    "recipe ingredients"
    "recipe instructions";
    gap: 10px;
    margin: 0 1rem;
    border-radius: 5px;
    box-shadow:  0 0 1px 1px rgba(31, 28, 28, 0.2);
}

.recipe {
    grid-area: recipe;
}

.recipe span {
    position: relative;
    background: #FFF;
    top: 10%;
    left: 2%;
    font-size: 2rem;
    border-radius: 15px;
}

.recipe .recipe-img {
    margin-top: -2rem;
}

.ingredients {
    grid-area: ingredients;
}

.ingredient-list {
    list-style: disc;
}

.instructions {
    grid-area: instructions;
}

.instructions::before {
    display: block;
    height: 2px;
    content: '';
    background: #FDA5A5;
    width: 90%;
    border-radius: 5px;
}

/* Contact info */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FDA5A5;
    padding-left: 10px;
}

.social >* {
    font-size: 2rem;
    color: rgba(31, 28, 28, 0.5);
    margin: 5px;
    padding: 5px;
    transition: 200ms;
}

.social > *:hover {
    color: #DF19BD;
    transition: 200ms;
}

/* Media Query */

@media (max-width: 1024px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .main-title {
        font-size: 3rem;
    }

    .categories img {
        height: 15vh;
        width: 15vh;
        margin: 0 2px 0 2px;
        border: 2px solid rgba(0, 0, 0, 0.5);
    }

    .categories label {
        font-size: 1rem;
    }

    .recipes {
        grid-template-areas: 
        "recipe"
        "ingredients"
        "instructions";
    }

    .recipe span {
        font-size: 1rem;
    }

    .recipe .recipe-img {
        width: 100%;
        margin-top: 1px;
        object-fit: contain;
        overflow: hidden;
    }

    footer {
        flex-wrap: wrap;
    }

}
